# IDEs
.idea/
.vscode/
*.iml

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id
ios/.generated/

# OS
.DS_Store
Thumbs.db

# Project-specific
pluto-node-backend/
out.txt
/lib/
pluto-flutter/build_output.txt
pluto-backend/.fastapicloud/
pluto-backend/crash*.txt
pluto-backend/api-crash.txt
pluto-backend/*.log
pluto-backend/*resp.json
pluto-backend/google-services .json
pluto-backend/serviceAccountKey.json
