# Flutter gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.vagrant/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web/
android/
ios/
macos/
windows/
linux/
google-services.json
GoogleService-Info.plist
